@charset "UTF-8";
/*primero llamamos las variables y mixins*/
/*despues llamamos al reset*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*layout*/
header {
  background-color: rgb(92, 91, 91);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.navbar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 12rem;
}

.navbar li a {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9375rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

header div a img {
  height: 2.5rem;
  width: auto;
}

.main-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  padding-top: 3.75rem;
  background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
}
.main-aboutus iframe {
  height: 150vh;
  width: 150vh;
}
.main-aboutus section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 50vh;
  width: 100%;
}
.main-aboutus section section {
  display: flex;
  width: 37.5rem;
  height: 26.875rem;
}
.main-aboutus section section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.main-aboutus section section img:hover {
  cursor: crosshair;
  width: 18.75rem;
  opacity: 1;
  filter: contrast(120%);
}

.main-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  gap: 4.375rem;
  background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
}
.main-shop .section-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.375rem;
}
.main-shop .section-div div img {
  height: 18.75rem;
  width: auto;
}
.main-shop .section-div div button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: grey;
  color: white;
  border-radius: 3.125rem;
  border: none;
  padding: 0.625rem;
}

.main-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  gap: 4.375rem;
  background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
}
.main-shop .section-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.375rem;
}
.main-shop img {
  height: 18.75rem;
  width: auto;
}

.main-locations {
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-template-rows: 100vh, 1fr, 1fr;
  height: auto;
  grid-template-areas: "item3" "item1" "item2";
}
.main-locations .section-location {
  height: 100vh;
  width: 100%;
}
.main-locations .section-location .imagen-fondo {
  background-image: url(../assets/img/locations.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}
.main-locations .section-location .imagen-fondo .loc-class {
  color: white;
}
.main-locations .section-location .section-mapa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4.375rem;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.main-class {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../assets/img/gigante.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-class section .div-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6.25rem;
  color: white;
}

footer {
  height: 12.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
}
footer nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3.125rem;
  text-decoration: none;
  list-style: none;
}
footer nav ul li a img {
  height: 2.5rem;
  width: auto;
}

/*components*/
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/*media query*/
@media (max-width: 768px) {
  header {
    background-color: rgb(92, 91, 91);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 8rem;
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .navbar li a {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9375rem;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-weight: 700;
  }
  header div a img {
    height: 2.5rem;
    width: auto;
  }
  .main-aboutus iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 6.25rem;
    height: 50rem;
    width: 40rem;
    padding-top: 3.75rem;
    background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
  }
  .tamaño-video {
    height: 150vh;
    width: 150vh;
  }
}
@media (max-width: 425px) {
  header {
    background-color: rgb(92, 91, 91);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10rem;
    gap: 6rem;
  }
  .navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .navbar li a {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9375rem;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-weight: 700;
  }
  header div a img {
    height: 2.5rem;
    width: auto;
  }
  .main-aboutus iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 6.25rem;
    height: 35rem;
    width: 20rem;
    padding-top: 3.75rem;
    background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
  }
  .tamaño-video {
    height: 150vh;
    width: 150vh;
  }
  .main-shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 200vh;
    gap: 4rem;
    background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
  }
  .section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.375rem;
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-div div img {
    height: 18.75rem;
    width: auto;
  }
}
@media (max-width: 320px) {
  header {
    background-color: rgb(92, 91, 91);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10rem;
    gap: 3rem;
  }
  .navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .navbar li a {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9375rem;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-weight: 700;
  }
  header div a img {
    height: 2.5rem;
    width: auto;
  }
  .main-aboutus iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 6.25rem;
    height: 25rem;
    width: 15rem;
    padding-top: 3.75rem;
    background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
  }
  .tamaño-video {
    height: 150vh;
    width: 150vh;
  }
  .main-shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 200vh;
    gap: 4rem;
    background: radial-gradient(circle, rgb(255, 255, 255) 34%, rgb(0, 0, 0) 100%);
  }
  .section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.375rem;
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-div div img {
    height: 18.75rem;
    width: auto;
  }
  .main-locations {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 100vh, 1fr, 1fr;
    height: auto;
    grid-template-areas: "item3" "item1" "item2";
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .section-mapa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4.375rem;
  }
  .card-location {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .section-location {
    height: 100vh;
    width: 100%;
  }
  .imagen-fondo {
    background-image: url(../assets/img/locations.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
  }
  .loc-class {
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
