@media (max-width: 425px) {
    header{
        background-color: rgb(92, 91, 91);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 10rem;
    gap: 6rem;
    
    
    }
    
    .navbar {
    list-style: none;
    display: flex ;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    }
    .navbar li a{
    font-family: 'Work Sans', sans-serif;
    font-size: .9375rem;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-weight: 700;
    }           
    header div a img{
    height: 2.5rem;
    width: auto;
    }


.main-aboutus iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 6.25rem;
    height: 35rem;
    width: 20rem;
    padding-top: 3.75rem;
    background: radial-gradient(circle, rgba(255,255,255,1) 34%, rgba(0,0,0,1) 100%);
    }
    
    .tamaño-video{
    height: 150vh;
    width: 150vh;
    }

    .main-shop{
        display: flex;
        flex-direction: row;
        align-items:center ;
        flex-wrap: wrap;
        justify-content: center;
        height: 200vh;
        gap: 4rem;
        background: radial-gradient(circle, rgba(255,255,255,1) 34%, rgba(0,0,0,1) 100%);
        }
        
        .section-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4.375rem;
        }
        
        
        .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        }
        
        .section-div div img{
        height: 18.75rem;
        width: auto;
        }
    }